<footer class="footer">
	<div class="container">
		<section class="contact">
			<h2>Contact</h2>
			<a title="{{ site.email }}" href="mailto:{{ site.email }}">{{ site.email }}</a>
		</section>
		<section class="follow">
			<h2>Follow</h2>
			<ul>
				<li><a title="LinkedIn" href="{{ site.linkedin }}" target="_blank">LinkedIn</a></li>
				<li><a title="Twitter" href="{{ site.twitter }}" target="_blank">Twitter</a></li>
				<li><a title="Github" href="{{ site.github }}" target="_blank">Github</a></li>
			</ul>
		</section>
	</div>
</footer>
<script>
	// external js: masonry.pkgd.js, imagesloaded.pkgd.js

	var grid = document.querySelector('.projects-list');
	var msnry;

	imagesLoaded( grid, function() {
	// init Isotope after all images have loaded
	msnry = new Masonry( grid, {
		itemSelector: '.grid-item',
		percentPosition: true
	});
	});

</script>